# 依赖
node_modules/

# 环境变量
.env

# 日志
logs
*.log
npm-debug.log*

# 运行时数据
pids
*.pid
*.seed
*.pid.lock

# 编辑器配置
.vscode/
.idea/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

backend/uploads/*
!backend/uploads/.gitkeep 